/* 1439px-769px */
@media (max-width: 1100px) {
  /* ------------filter-section------------ */
  .filter-section {
    padding: 32px 50px 40px;
  }
  /* -------------card-section---------------*/
  .card-section {
    padding-inline: 50px;
    grid-template-columns: auto auto;
    grid-template-rows: 346px 346px;
  }
  .display-none-1100 {
    display: none;
  }
  /* ------Sign-up-to-continue-button--------- */
  .sign-up-button-container {
    margin-block: 40px 32px;
  }
  .sign-up-button {
    font-size: 12.7px;
  }
}
