/* 1439px-769px */
@media (max-width: 1100px) {
  /* container-style */
  .container {
    padding: 32px 50px;
    row-gap: 40px;
  }
  /* -------------card-section---------------*/
  .card-section {
    grid-template-columns: auto auto;
    grid-template-rows: 346px 346px;
  }
  .display-none-1100 {
    display: none;
  }
  /* ------Sign-up-to-continue-button--------- */
  .sign-up-button {
    font-size: 12.7px;
  }
}
