/* 480px-320px */
@media (max-width: 381px) {
  /* container-style-ს სჭირდება */
  .container {
    padding: 8px;
  }
  /* -------------card-section---------------*/
  .card-section {
    grid-template-rows: 274px;
  }
  .card-section-image {
    height: 240px;
  }
}
