/* 768px-481px */
@media (max-width: 620px) {
  /* container-style */
  .container {
    padding: 20px;
  }
  /* -------------card-section---------------*/
  .card-section {
    grid-template-columns: auto;
    grid-template-rows: 346px;
  }
  .display-none-620 {
    display: none;
  }
}
